ul.pagination {
  margin: 10px 0;
  li > a {
    display: block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: #fd9535;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    color: #fff;

    &:hover {
      opacity: .6;
    }
  }

  .prev.previous_page a {
    position: relative;
  }

  .prev.previous_page a::after {
    content: "<<";
    top: 0;
    left: 0;
    font-size: 12px;
  }

  .next.next_page a {
    position: relative;
  }

  .next.next_page a::after {
    content: ">>";
    top: 0;
    left: 0;
    font-size: 12px;
  }
}
